#### Настройки PayloadCMS и SERVER_URL #######
PAYLOAD_SECRET=69e3ee6ff6a1154b863e7804
SERVER_URL=http://localhost:3000/telemed-dev
NEXT_PUBLIC_BASE_PATH=/telemed-dev
DATABASE_URL=postgresql://postgres:11559966332211kkKK@127.0.0.1:5432/telemed


#### Настройки Сокетов и PeerJs #######
NEXT_PUBLIC_SOCKET_URL=https://smartcardio.ru
NEXT_PUBLIC_SOCKET_PATH=/telemed-dev/socket.io
NEXT_PUBLIC_PEER_HOST=smartcardio.ru
NEXT_PUBLIC_PEER_PORT=443
NEXT_PUBLIC_PEER_PATH=/telemed-dev/peerjs/
SOCKET_ALLOWED_ORIGINS=https://smartcardio.ru


#### Настройки Email адаптера #######
SMTP_FROM=kolya.titov.05@inbox.ru
SMTP_FROM_NAME="Смарткардио Телемедицина"
SMTP_HOST=smtp.mail.ru
SMTP_PORT=587
SMTP_USER=kolya.titov.05@inbox.ru
SMTP_PASS=77V49AsPjPgMYw25LrdK

